.likedMain {
  width: 100vw;
  height: 100vh;

  .listLiked {
    height: 60%;
    width: 80%;

    display: flex;
    gap: 20px;
    flex-direction: column;

    transition: 0.2s;

    padding: 25px;
  }

  .buttonLiked {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    padding: 15px;

    button {
      background-color: #b3b3b3;
      width: 30%;
      height: 3rem;

      margin-right: 25px;
    }
  }
}
